body 
{
   background-color: #E9EBEE;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

h1
{
	border-bottom: 5px solid #032450;
}

h2
{
    text-align: center;
    font-size: 2.5em;
}

h3
{
    text-align:center;
    color: #3b5998;
    font-size:1.4em;
    padding-top: 6px;
}

header
{
    width: 70%;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #3b5998;
    border-radius: 5px;
    background-color: #3b5998;
    font-size: 1.2em;
    color: white;

}

header a:visited
{
	color: white;
}

header a
{
    color: white;
}

a
{
	text-decoration: none;
}

#bear
{
    width: 6%;
}

ul
{
    margin: 0;
    padding: 0;
}

#menu
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-bottom: 25px;

}

#posts
{
	width: 100%;
	text-align: center;
}

#home
{
	background-color: #3b5998;
	border: 15px solid #3b5998;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	text-align: center;
	display: block;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
}


form
{
    background-color: #F6F7F9;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.fields
{
    width: 70%;
    height: 30px;
    font-size: 25px;
}

.submit
{
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea
{
    width: 70%;
    max-width: 99%;
    height: 300px;
}

.news p
{
    width: 70%;
    margin: auto;
    margin-top: 0px;
    padding: 5px;
}

.news
{
    width:70%;
    margin:auto;
    background-color: white;
    margin-top: 30px;
}

#dateAdmin
{
	font-size: 0.7em;

}

.adminButton
{
    padding: 3px;
    color: white;
    border: 2px solid #3b5998;
    border-radius: 3px;
    background-color: #3b5998;
}

footer
{
    text-align: center;
    margin-top: 20px;
}

@media all and (max-width: 1200px)
{
    header
    {
        width: 100%;
        border-radius: 0;
        border: 0;
    }

    #menu
    {
        flex-direction: column;
    }

    #menu li
    {
        margin-bottom: 10px;
    }

    .news
    {
        width: 90%;
    }

    form
    {
        width: 90%;
    }

    .fields
    {
        width: 90%;
    }
}