body
{
	margin: 0;
}

#moderation
{
	background-color: #3b5998;
	border: 15px solid #3b5998;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	text-align: center;
	display: block;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
}

#posts
{
	width: 100%;
	text-align: center;
}

#addArticle
{
	margin-left: 10%;
	width: 80%;
	background-color: #e0dfe4;

}