body 
{
   background-color: #E9EBEE;
   margin: 0;
}

h1
{
    border-bottom: 5px solid #032450;
}

h2
{
    text-align: center;
    font-size: 2.5em;
}

#header
{
    width: 70%;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #3b5998;
    border-radius: 5px;
    background-color: #3b5998;
    font-size: 1.2em;
    color: white;

}

#bear
{
    width: 6%;
}

ul
{
    margin: 0;
    padding: 0;
}

#menu
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-bottom: 25px;

}

#header a:visited
{
    color: white;
}

a:hover
{
    text-decoration: underline;
}

h3
{
    text-align:center;
    color: #3b5998;
    font-size:1.4em;
    padding-top: 6px;
}

.news p
{
    width: 70%;
    margin: auto;
    margin-top: 0px;
    padding: 5px;
}

.news
{
    width:70%;
    margin:auto;
    background-color: white;
    margin-top: 30px;
}

#lastChapter
{
    margin-top: 50px;
    text-align: center;
    font-size: 1.3em;
}

a
{
    text-decoration: none;
}

#info
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 0.9em;
}

form
{
    background-color: #F6F7F9;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.fields
{
    width: 70%;
    height: 30px;
    font-size: 25px;
}

.submit
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#administration
{
    background-color: grey;
    position: absolute;
    width: 15%;
    height: 15%;
    bottom: 0px;
    position: fixed;
    text-align: center;

}

#listComment
{
    margin-left: 10px;
    margin-right: 10px;
}

#report
{
    padding: 3px;
    color: white;
    border: 2px solid red;
    border-radius: 3px;
    background-color: red;
}

textarea
{
    width: 70%;
    max-width: 99%;
    height: 100px;
}

footer
{
    text-align: center;
    margin-top: 20px;
}
